/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

body {
  color: white;
  background-color: grey;
}

/*.bgorigin {
  background-color: grey;
  transition: 2s;
}

.bgchange {
  background-color: green;
  transition: 2s;
}*/

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: blue;
}

#hero_logo {
  width: 100px;
  height: auto;
}

#first-time {
  display: none;
}

#name-header {
  text-align: center;
}

.field-content {
  margin-left: 200px;
  margin-right: 200px;
}

.views-row {
  background-color: black;
  opacity: 0.8;
  width: 100%;
  margin-left: 0;

}

.views-field-body {
  text-align: center;
}

.views-view-grid {
  margin-left: 20%;
}

.views-field-title {
  text-align: center;
}

.view-first img {
    opacity: 0.8;
    transition: all 0.2s linear;
    margin: 3px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.view-first .mask {
    opacity: 1;
    transition: all 0.4s ease-in-out;
    text-align: center;
    color: green;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first:hover img {
	transform: scale(1.04);
  opacity: 1;
}
.view-first:hover .mask {
	opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
